@font-face{
  src: url("./fonts/AvenirNext/AvenirNextCyr-Regular.ttf");
  font-family: AvenirNext;
  font-weight: 400;
}

@font-face{
  src: url("./fonts/AvenirNext/AvenirNextCyr-Light.ttf");
  font-family: AvenirNext;
  font-weight: 100;
}

.main{
	background: #a2ca28;
}

.background-image{
  background-image: url("./images/background.jpg");
  height: 890px;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 0px 45px;
}

.menu{
  width: 500px;
  color: white;
  margin: 20px 50px 0  0px;
  padding: 5px 5px 0px 0px;
  list-style: none;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-family: AvenirNext, sans-serif;
  font-weight: 400;
}

.text{
  color:white;
  text-transform: uppercase;
  text-align: left;
}

.title{
  font-size: 40px;
  margin: 500px 0 0 130px;
  padding: 0px 0px 10px 0px;
}

.subtitle{
  font-size: 15px;
  margin: 0px 0 0 280px;
}


.benefits{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 1150px;
  margin:0 auto;
  padding: 0px 0px 120px 0px;
  color:white;
}

.benefits-range{
  color: white;
  font-size: 13px;
  font-family: AvenirNext, sans-serif;
  font-weight: 100;
}

.bh2{
  color: white;
  font-size: 20px;
  font-family: AvenirNext, sans-serif;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.benefits_item{
  padding: 0px 20px 0px 0px;
  width: 260px;
  font-size: 14px;
}

.benefits-image{
  height: 60px;
  padding: 110px 0px 0px 0px;
}

.container{
  color: white;
  font-size: 15px;
  font-family: AvenirNext, sans-serif;
  font-weight: 400;
}

.link{
  display: flex;
  justify-content: space-between;
  color:white;
  text-decoration: none;
  margin: 20px 0px 5px 0px;
  font-size: 15px;
  font-family: AvenirNext, sans-serif;
  font-weight: 400;
}

.about{
  background-color:white;
  display: flex;
  text-align: center;
  width: 1180px;
  margin:0 auto;
}

.about__text{
  font-family: AvenirNext, sans-serif;
  font-weight: 300;
}

.h3{
  color:#fd634e;
  text-transform: uppercase;
  font-size: 14px;
  margin:0 auto;
  padding: 40px 10px 5px 10px;
}

.h2{
  color:#a2ca28;
  text-transform: uppercase;
  font-size: 35px;
  margin:0 auto;
  padding: 5px 10px 10px 10px;
}

.image_hover{
  width: 794px;
  height: 394px;
  position: relative;
}

.text-hover{
  position: absolute;
  top: 10px;
  left: 40px;
  color: white;
  text-align: center;
}

.image_hover:before{
  content: '';
  display:block;
  position: absolute;
  text-align: center;
  width: 794px;
  height: 394px;
  background: rgba(0, 0, 0, 0.3);
}

.about__paragraph{
  color: #656e74;
  font-size: 14px;
  padding: 20px 40px 10px 40px;
}

.link2{
  color:#a2ca28;
  text-decoration: underline;
  font-size: 14px;
  margin:0 auto;
  padding: 10px 0px 0px 0px;
}


.bottom{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin:0 auto;
}

.footer{
  background: black;
}

.form{
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 50px 20px 50px 20px;
}

.input{
  color: #83969f;
  font-family: AvenirNext;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
}

.button{
  background: #a2ca28;
  font-family: AvenirNext;
  padding: 10px 20px 10px 20px;
  color: white;
  font-size: 15px;
}

.icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  display: block;
}

.icon:before{
  content: '';
  display:block;
  position: absolute;
  top: 15px;
  left: 15px;
}

.icon-fb{
  background-color: #003366;
}

.icon-fb:before{
  background: url('./images/fb.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.icon-tw{
  background-color: blue;
}

.icon-tw:before{
  background: url('./images/tw.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.icon-yt{
  background-color: red;
}

.icon-yt:before{
  background: url('./images/yt.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.icon-ln{
  background-color: #003366;
}

.icon-ln:before{
  background: url('./images/ln.png');
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
}

.icons{
  display: flex;
  justify-content: space-between;
  padding: 40px 0px 0px 45px;
}